<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/sellernav.ejs') %>

<main>
    Pleased to present to you "Another Amazon", a Web based recommender system.
    <br>
    <br>
    By
    <br>
    Bhaskar Gupta(180050022)
    <br>
    Niraj Mahajan(180050069)
    <br>
    Dolly(18005009x)
    <br>
    Swagster(180050111)
</main>
<%- include('../includes/end.ejs') %>