.image { grid-area: image; }
.seller { grid-area: seller; }
.buyer { grid-area: buyer; }
.name { grid-area: name; }
.cost { grid-area: cost; }
.rating { grid-area: rating; }
.category { grid-area: category; }
.address { grid-area: address; }
.contact { grid-area: contact; }
.mail { grid-area: mail; }
.id { grid-area: id; }
.itemlist { grid-area: itemlist; }
.customtxt { grid-area: customtxt; }
.readnum { grid-area: readnum; }
.button { grid-area: button; }
.form { grid-area: form; }

.tri-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #F5F5F5;
}
.tetra-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #F5F5F5;
}
.penta-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #F5F5F5;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.base_product {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image seller seller seller seller seller'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.base_product > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_onsale {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category'
  'image image image image form form form form form';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.seller_onsale > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_past_orders {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'itemlist itemlist itemlist itemlist itemlist'
  'cost cost cost cost cost';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_past_orders > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_requests {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'itemlist itemlist itemlist itemlist itemlist'
  'cost cost cost cost cost'
  '. . . . button';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_requests > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_ongoing {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'itemlist itemlist itemlist itemlist itemlist'
  'cost cost cost cost cost';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_ongoing > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}