.image { grid-area: image; }
.seller { grid-area: seller; }
.buyer { grid-area: buyer; }
.agentname { grid-area: agentname; }
.agentnumber { grid-area: agentnumber; }
.name { grid-area: name; }
.cost { grid-area: cost; }
.rating { grid-area: rating; }
.quantity { grid-area: quantity; }
.category { grid-area: category; }
.address { grid-area: address; }
.contact { grid-area: contact; }
.mail { grid-area: mail; }
.id { grid-area: id; }
.itemlist { grid-area: itemlist; }
.customtxt { grid-area: customtxt; }
.readnum { grid-area: readnum; }
.button { grid-area: button; }
.form { grid-area: form; }
.orders_delivered { grid-area: orders_delivered; }
.orders_active { grid-area: orders_active; }
.balance { grid-area: balance; }
.status { grid-area: status; }

.tri-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #F5F5F5;
}
.tetra-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #F5F5F5;
}
.penta-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #F5F5F5;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.base_product {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image seller seller seller seller seller'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.base_product > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_onsale {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category'
  'image image image image form form form form form';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.seller_onsale > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_past_orders {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'cost cost cost cost cost'
  'itemlist itemlist itemlist itemlist itemlist';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_past_orders > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_requests {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'itemlist itemlist itemlist itemlist itemlist'
  'cost cost cost cost cost'
  '. . . . button';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_requests > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.seller_ongoing {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'buyer buyer buyer buyer buyer'
  'itemlist itemlist itemlist itemlist itemlist'
  'cost cost cost cost cost';
  grid-gap: 5px;
  padding: 5px;
  height: 300px
  width: auto;
  text-align: center;
}
.seller_ongoing > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.buyer_browse {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image seller seller seller seller seller'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category'
  'image image image image . . . button button'
  'image image image image . . . button button';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.buyer_browse > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.buyer_history {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'cost cost cost cost cost'
  '. . .  button button';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.buyer_history > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.buyer_cart {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image seller seller seller seller seller'
  'image image image image cost cost cost cost cost'
  'image image image image quantity quantity quantity quantity quantity'
  'image image image image . . . button button';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.buyer_cart > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.buyer_order_details {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'cost cost cost cost cost'
  'seller seller seller seller seller'
  'itemlist itemlist itemlist itemlist itemlist';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.buyer_order_details > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.buyer_product_details {
  display: grid;
  grid-template-areas:
  'name name name name name name name name name'
  'image image image image seller seller seller seller seller'
  'image image image image cost cost cost cost cost'
  'image image image image rating rating rating rating rating'
  'image image image image category category category category category'
  'image image image image form form form form form'
  'customtxt customtxt customtxt customtxt customtxt customtxt customtxt customtxt customtxt'
  'customtxt customtxt customtxt customtxt customtxt customtxt customtxt customtxt customtxt';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.buyer_product_details > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.admin_buyer {
  display: grid;
  grid-template-areas:
  'name name name name name'
  'address address address address address'
  'contact contact contact contact contact'
  'mail mail mail mail mail'
  'balance balance balance balance balance';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.admin_buyer > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.admin_delagents {
  display: grid;
  grid-template-areas:
  'name name name name name'
  'contact contact contact contact contact'
  'mail mail mail mail mail'
  'orders_delivered orders_delivered orders_delivered orders_delivered orders_delivered'
  'orders_active orders_active orders_active orders_active orders_active';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.admin_delagents > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.delagent_ongoing {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'cost cost cost cost cost'
  'address address address address address'
  'contact contact contact contact contact'
  '. . . button button';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.delagent_ongoing > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}

.delagent_delivered {
  display: grid;
  grid-template-areas:
  'id id id id id'
  'cost cost cost cost cost';
  grid-gap: 5px;
  padding: 5px;
  height: auto
  width: auto;
  text-align: center;
}
.delagent_delivered > div {
  text-align: center;
  font-size: 0.8rem;
  background-color: #F5F5F5;
}